.button-class (
    background-color: /*choose bg color*/;
    border: none;
    color: /* choose color*/;
    padding: /*choose padding*/;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* ? */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: /* choose bg color*/;
    color: black;
    border: 2px solid /*choose cborder color */;
)